<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [ngClass]="{'active':collapsed}">

      <div class="sidebar-header">
          <h3>Polling System</h3>
          <strong>PS</strong>

      </div>

      <ul class="list-unstyled components">
          <li class="active">
              <a (click)=pgReload()>
                  <i class="fas fa-home"></i>
                  {{home}}
              </a>
          </li>
          <li>
              <a routerLink="createPoll">
                  <i class="fas fa-hdd"></i>
                  {{create_poll}}
              </a>
              <a href="#">
                  <i class="fas fa-signal"></i>
                  {{live_poll}}
              </a>
          </li>
          <li>
              <a routerLink="profile">
                  <i class="fas fa-image"></i>
                  {{profile}}
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-question"></i>
                  {{faq}}
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-paper-plane"></i>
                  {{contact}}
              </a>
          </li>
      </ul>
    </nav>

  <!-- Page Content  -->
  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            
              <button type="button" id="sidebarCollapse"  (click)="toggleCollapsed()" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span></span>
              </button>
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button>

              <div class="row">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent" class="right-shift" class="col-lg-12">
                      <ul class="nav navbar-nav ml-auto">
                        <li *ngIf="show" class="nav-item active">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#login" data-whatever="@getbootstrap">Login</button>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#signup" data-whatever="@getbootstrap">Sign Up</button>
                        </li>
                        <li *ngIf="!show" class="nav-item active">
                            <button type="button" class="btn btn-info" (click)="logout(emaillogin.value)" data-whatever="@getbootstrap">Logout</button>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
      </nav>
      <router-outlet></router-outlet>
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
            <img src="../assets/icon.svg" class="rounded mx-auto d-block" >
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email" class="col-form-label">Email ID:</label>
            <input type="text" class="form-control" #emaillogin>
          </div>
          <div class="form-group">
            <label for="password_login" class="col-form-label">Password:</label>
            <input type="password" class="form-control" #passwordlogin>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="login(emaillogin.value, passwordlogin.value)" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
            <img src="../assets/icon.svg" class="rounded mx-auto d-block" >
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <label for="name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" #namesignup>
            </div>
            <div class="form-group">
                <label for="userName" class="col-form-label">User Name:</label>
                <input type="text" class="form-control" #userNamesignup>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email ID:</label>
              <input type="text" class="form-control" #emailsignup>
            </div>
            <div class="form-group">
              <label for="password_signup" class="col-form-label">Password:</label>
              <input type="password" class="form-control" #passwordsignup>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="signup(namesignup.value, userNamesignup.value, emailsignup.value, passwordsignup.value)">Submit</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div>
    <ul *ngFor = "let i of Question">
      <a routerLink="question"><li>{{i}}</li></a>
    </ul>
  </div>
  <hr>
</div> -->
